<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Audi's Wonderful img scroller</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        Audi's Wonderful img scroller
      </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Made by Jacob Hannah in like 30 minutes. Be happy you got it justin. Any questions? Maybe the README.md?
    </footer>
  </div>

</body>

</html>